/* PÁGINA COM A ESTILIZAÇÃO DO CADASTRO.HTML */

/* REMOVE MARGENS ACIMA DO HEADER ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ESTILO GERAL DA PÁGINA ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-image: url('../IMAGENS/estante_de_livros.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
}


/* HEADER --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.header-bar {
    width: 99vw;
    height: 12vh;
    background-color: #351200;
    z-index: 1;
    border: 3px solid hsl(24, 100%, 9%);
}


/* CÍRCULO DA LOGO ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */


.circle {
    width: 13vw;
    height: 13vw;
    background-color: #fa9664;
    border: 1px solid hsl(24, 100%, 9%);
    border-radius: 50%;
    position: absolute;
    top: 1.5vh;
    left: 2vw;
}


/* LOGO ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.circle img {
    width: 80%;
    height: 80%;
    margin-top: 1.83rem;
    margin-left: 1.6rem;
}


/* MENU ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.menu {
    position: absolute;
    top: 4vh;
    right: 7vw;
}


.menu ul {
    list-style: none;
    display: flex;
    gap: 7vw;
}


.menu a {
    text-decoration: none;
    color: #f9e0cc;
    padding: 6px 12px;
    font-size: 20px;
}


/* TEXTO PRINCIPAL ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.content {
    padding: 3rem;
    margin-top: 3%;
}


.content p1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #551c00;
}


.content p2 {
    color: #551c00;
    text-align: center;
    font-size: 1.6rem;
}


.content p3 {
    font-size: 1.5rem;
    color: #551c00;
}


.caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 224, 204, 0.95);
    padding: 3rem;
    border-radius: 2rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.caixa button {
    background-color: #c35930;
    padding: 2.5%;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 5%;
    width: fit-content;
    height: 1rem;
    border-radius: 5%;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
}


.caixa button:hover {
    color:#f9e0cc;
    font-size: 1.5rem;
    cursor: pointer;

}


.cadastrar a:hover {
    color: #c35930;
    font-size: 1.5rem;
}


.cadastrar a {
    color: black;
    list-style: none;
    font-size: 1.5rem;
}


.caixa input {
    width: 20rem;
    height: 2.8rem;
    font-size: 1.2rem;
    padding: 2%;
}


/* FOOTER ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.footer {
    border: 1px solid hsl(24, 100%, 9%);
    background-color: #351200;
    color: #f9e0cc;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    min-height: 15vh;
    height: 100%;
}


.contato {
    width: 50%;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 3rem;
}


.email {
    width: 700px;
    display: flex;
    margin-left: 2rem;
    align-items: center;
}


.telefone {
    width: 700px;
    display: flex;
    align-items: center;
    margin-left: 10rem;
}


.icone_email {
    padding: 2%;
    width: 9%;
    height: 4%;
}


.icone_whatsapp {
    padding: 2%;
    width: 9%;
    height: 4%;
}

#select_periodo {
    width: 15rem;
    height: fit-content;
    font-size: 1.2rem;
    padding: 2%;
}

#select_periodo:hover {
    cursor: pointer;
}